.Dir{
    a{
        color:darkkhaki;
        margin-left: 10px;
        margin-right: 10px;
    }
    a:hover{
        color:darkorange;
        background-color: white;
    }
}
h1{
    font-size:25px; font-style:normal; font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:cornflowerblue;
}